@model BetSystem.Models.Season    

<div class="jumbotron">
    <h4>@ViewBag.Title <span class="bet-title"></span> </h4>
    <h5>@ViewBag.SubTitle</h5>
    @if(Model != null) 
    {
        <h5>Season: @Model?.Name</h5>
        <h5>
            Status: @{
                if(!Model.Active) 
                { <span class="validation-summary-errors"> Inactive</span>; }
                else {<span>Active</span>;}
                }
        </h5>
        <h5 class="validation-summary-errors">@ViewBag.Info</h5>
    } else 
    {
        <h5 class="validation-summary-errors">Please go to Admin page and add a season!</h5>  
        <h5 class="validation-summary-errors">Teams and bets cannot be added if there is no active season.</h5>  
    }
    <p class="signature">by Marius</p>
</div>