@model IEnumerable<BetSystem.Models.Currency>

<div class="select-currency show-toggle" style="display:none">
    @using (Html.BeginForm("SelectCurrency", "Home"))
    {
        <div class="form-group">
            @Html.DropDownList("Id", new SelectList(Model, "Id", "Name"), new { @class="form-control" })
        </div>
        <button type="submit" class="btn btn-secondary">Select</button>
    }
</div>